/* Fil de discussion */

.sb1:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #e1e1e1;
    border-right: 10px solid transparent;
    border-top: 10px solid #e1e1e1;
    border-bottom: 10px solid transparent;
    right: -20px;
    top: 6px;
}

.sb2:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #e1e1e1;
    border-top: 10px solid #e1e1e1;
    border-bottom: 10px solid transparent;
    left: -20px;
    top: 6px;
}

.sb3:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #e1e1e1;
    border-right: 10px solid transparent;
    border-top: 10px solid #e1e1e1;
    border-bottom: 10px solid transparent;
    left: 19px;
    bottom: -19px;
}

.sb4:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #e1e1e1;
    border-top: 10px solid #e1e1e1;
    border-bottom: 10px solid transparent;
    right: 19px;
    bottom: -19px;
}

div #bloc-agent {
    border: 1px solid #e1e1e1;
    height: auto;
    margin: 20px auto;
    position: relative;
    width: 80%;
    left: 10%;
    background: aliceblue;
}

div #bloc-agent:first-child {
    margin-top: -20px;
}

div #bloc-usager {
    border: 1px solid #e1e1e1;
    height: auto;
    margin: 20px auto;
    position: relative;
    width: 80%;
    background: lavenderblush;
}

div #bloc-usager:first-child {
    margin-top: -20px;
}

p.entete-usager {
    background: #fff none repeat scroll 0 0;
    font-weight: bold;
    color: #666666;
    height: auto;
    left: 20px;
    padding: 3px 5px;
    position: absolute;
    top: -25px;
    border-style: solid;
    border-width: 1px;
}

p.entete-agent {
    background: #fff none repeat scroll 0 0;
    font-weight: bold;
    color: #666666;
    height: auto;
    right: 20px;
    padding: 3px 5px;
    position: absolute;
    top: -25px;
    border-style: solid;
    border-width: 1px;
}

p.mess-agent {
    padding-left: 20px;
    padding-top: 10px;
}

p.mess-usager {
    padding-left: 20px;
    padding-top: 10px;
}