/**
 * 1997-2018 Quadra Informatique
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 *
 *  @author    Quadra Informatique <modules@quadra-informatique.fr>
 *  @copyright 1997-2018 Quadra Informatique
 *  @license   http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 * 
 */


/*******************************************************************************/
/***************************** OVERRIDE BOOTSTAP *******************************/
 #gestion-gru-ajax-msg div.error, #gestion-gru-ajax-msg div.updated {
    background: #fff;
    border-left: 4px solid #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    margin: 5px 15px 2px;
    padding: 0px 12px;
}
m-table td .notice p, .notice p, div.error p, div.updated p {
    margin: .5em 0;
    padding: 2px;
}
.collapse:not(.show) {
    display: block !important;
}

/*******************************************************************************/
/*********************************** GENERAL ***********************************/
.content {padding:0 !important;}
.cp-color-picker{z-index: 1000000000 !important;}
.jconfirm-box {height: auto !important; overflow: hidden !important;}
#gestion-page-gru-content {clear: both;}
#gestion-page-gru-content .return_link a{ color: #007bff; text-decoration: none;}
#gestion-page-gru-content .return_link a i {color: #007bff;}
#gestion-page-gru-content #gru-overlay { width: 100%; min-height: 100%; position: fixed; background: #000000;top: 0; background: #000000; opacity: 0.4;}
#gestion-page-gru-content > .row {margin-bottom: 10px;}
#gestion-page-gru-content .loader  { width: 100px;height: 100px;  margin:auto; position: absolute; top: 35%;left: 47%;  z-index: 1000; display: grid; grid-template-columns: 33% 33% 33%; grid-gap: 2px;}
#gestion-page-gru-content .loader > div{width: 100%; height: 100%; position: relative; display: inline-block; background: #047cc3; transform: scale(0.0); transform-origin: center center; 
  -webkit-animation: loader 1s linear infinite;
  -moz-animation: loader 1s linear infinite;
  -ms-animation: loader 1s linear infinite;
  -o-animation: loader 1s linear infinite;
  animation: loader 1s linear infinite;            
}
@keyframes loader {
    0%   { transform: scale(0.0); }
    40%  { transform: scale(1.0); }
    80%  { transform: scale(1.0); }
    100% { transform: scale(0.0); }
}
#gestion-page-gru-content .loader > div:nth-of-type(1),
#gestion-page-gru-content .loader > div:nth-of-type(5),
#gestion-page-gru-content .loader > div:nth-of-type(9){
    animation-delay: 0.2s
}
#gestion-page-gru-content .loader > div:nth-of-type(4),
#gestion-page-gru-content .loader > div:nth-of-type(8){
    animation-delay: 0.1s
}
#gestion-page-gru-content .loader > div:nth-of-type(2),
#gestion-page-gru-content .loader > div:nth-of-type(6){
    animation-delay: 0.3s
}
#gestion-page-gru-content .loader > div:nth-of-type(3){
    animation-delay: 0.4s
}
#gestion-page-gru-content #gestion-gru-ajax-msg {position: absolute;}
#gestion-page-gru-content #gestion-gru-ajax-msg div.notice {width: 300px; border-radius: 5px; color: white; right: 0; top: 7%; position: fixed; z-index: 10000000000; }
#gestion-page-gru-content #check_connexion_response_infos div.notice.updated,
#gestion-page-gru-content #check_connexion_response_infos div.notice.error {width: 100%;}
#gestion-page-gru-content #check_connexion_response_infos div.notice.updated p,
#gestion-page-gru-content #check_connexion_response_infos div.notice.error p {line-height: initial; color: white;}
#gestion-page-gru-content #check_connexion_response_infos div.notice.updated,
#gestion-page-gru-content #gestion-gru-ajax-msg div.notice.updated{background: #69b133; border-color: #69b133;}
#gestion-page-gru-content #check_connexion_response_infos div.notice.error,
#gestion-page-gru-content #gestion-gru-ajax-msg div.notice.error{background: #dd3d36; border-color: #dd3d36;}
#gestion-page-gru-content #gestion-gru-ajax-msg div.notice.infos{background: #ffba00; border-color: #ffba00;}
#gestion-page-gru-content .box-shadow-gru {
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75) !important;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75) !important;
}
#gestion-page-gru-content.admin-gru-content {width:99%; padding: 2% 5px; overflow-x: hidden; font-size: 0.9em; background: white;}
#gestion-page-gru-content.admin-gru-content div.gestion-page-gru-tabs {transition:all .2s ease; z-index:100;}
#gestion-page-gru-content.admin-gru-content div.gestion-page-gru-tabs ul.ui-tabs-nav{ border: 0; border-bottom: 1px solid #c5c5c5; border-radius: 0;}
#gestion-page-gru-content.admin-gru-content input:not([type=checkbox]), #gestion-page-gru-content.admin-gru-content select, #gestion-page-gru-content.admin-gru-content button, 
#gestion-page-gru-content.gru-content input[type=text], #gestion-page-gru-content.gru-content select{width: 100%; padding-left: 5px;}
#gestion-page-gru-content.admin-gru-content .highligth-target-off {
    transition:all .5s ease;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#gestion-page-gru-content.admin-gru-content .highligth-target {
    transition:all .5s ease;
    border-color: #00a0d2 !important;
    -webkit-box-shadow: 0px 0px 15px 5px #00a0d2 !important;
    -moz-box-shadow: 0px 0px 15px 5px #00a0d2 !important;
    box-shadow: 0px 0px 15px 5px #00a0d2 !important;
}
#gestion-page-gru-content.admin-gru-content input:disabled, #gestion-page-gru-content.admin-gru-content select:disabled{background: #f1f1f1; border-color: #454545; opacity: 0.5; font-style: italic;}
#gestion-page-gru-content.admin-gru-content #check_connexion_response pre{overflow: hidden; color: white; white-space: pre-wrap;}
#gestion-page-gru-content.admin-gru-content #check_connexion_response i {line-height: 60px;}
#gestion-page-gru-content.admin-gru-content #check_connexion_response p {line-height: 60px;padding-left: 20px; font-size: 18px;}

#gestion-page-gru-content.gru-content tr th,
#gestion-page-gru-content.gru-content tr td {padding: 10px !important;}


/*******************************************************************************/
/*********************************** GRID BO ***********************************/
#gestion-page-gru-content.admin-gru-content #tabs-columns-bootstrap .gestion-page-gru-block-column {width: 80px; height: 50px; padding: 6px; margin: 1px; border: 1px solid #047cc3; background: #c6eaff; text-align: center; float: left; font-size: 12px; opacity: 0.8; position: relative;overflow: hidden;}
#gestion-page-gru-content.admin-gru-content #tabs-columns-bootstrap .gestion-page-gru-block-column:hover {cursor: pointer;}

#gestion-page-gru-content.admin-gru-content #tabs-gru-blocks .gestion-page-gru-block-gru {width: 80px; height: 50px; margin: 1px; border: 1px solid #e1e1e1; background: white; text-align: center; float: left; font-size: 12px; opacity: 0.8; position: relative; overflow: hidden;}
#gestion-page-gru-content.admin-gru-content #tabs-gru-blocks .gestion-page-gru-block-gru:hover {border: 1px solid #aaa; cursor: all-scroll;}
#gestion-page-gru-content.admin-gru-content #tabs-gru-blocks .gestion-page-gru-block-gru .header-libelle {width: 100%; line-height: 13px; font-size: 11px; position: absolute; bottom: 5px;}
#gestion-page-gru-content.admin-gru-content #tabs-gru-blocks .gestion-page-gru-block-gru .content-block {margin-top: 5px;}
#gestion-page-gru-content.admin-gru-content #tabs-gru-blocks .gestion-page-gru-block-gru .content-block i {font-size: 13px;}
#gestion-page-gru-content.admin-gru-content #tabs-gru-blocks .gestion-page-gru-block-gru[data-tuile-type="0"] {border-color: #047cc3; background: #c6eaff;}
#gestion-page-gru-content.admin-gru-content #tabs-gru-blocks .gestion-page-gru-block-gru[data-tuile-type="0"] .header-libelle {background: #047cc3; color:white;}
#gestion-page-gru-content.admin-gru-content #tabs-gru-blocks .gestion-page-gru-block-gru[data-tuile-type="1"] {border-color: #dc3545; background: #ffdcdc;}
#gestion-page-gru-content.admin-gru-content #tabs-gru-blocks .gestion-page-gru-block-gru[data-tuile-type="2"] {border-color: #ffba00; background: #ffefc4;}
#gestion-page-gru-content.admin-gru-content #tabs-gru-blocks .gestion-page-gru-block-gru[data-tuile-type="3"] {border-color: #69b133; background: #eaffd9;}
#gestion-page-gru-content.admin-gru-content #tabs-gru-blocks i.fa.fa-link.cde-get-param {color: #dc3545}
#gestion-page-gru-content.admin-gru-content #tabs-gru-blocks .legend i.fa.fa-square.type-0 {color:#047cc3}
#gestion-page-gru-content.admin-gru-content #tabs-gru-blocks .legend i.fa.fa-square.type-1 {color:#dc3545}
#gestion-page-gru-content.admin-gru-content #tabs-gru-blocks .legend i.fa.fa-square.type-2 {color:#ffba00}
#gestion-page-gru-content.admin-gru-content #tabs-gru-blocks .legend i.fa.fa-square.type-3 {color:#69b133}

#gestion-page-gru-content.admin-gru-content #tabs-gru-blocks .legend,
#gestion-page-gru-content.admin-gru-content #tabs-cde-functions .legend {font-size: 13px;}
#gestion-page-gru-content.admin-gru-content #tabs-cde-functions .gestion-page-gru-cde-function {width: auto; height: auto; padding: 5px; margin: 1px; border: 1px solid #e1e1e1; background: white; text-align: center; float: left; font-size: 12px; opacity: 0.8; position: relative;}
#gestion-page-gru-content.admin-gru-content #tabs-cde-functions i.fa.fa-cogs{color:#047cc3}
#gestion-page-gru-content.admin-gru-content #tabs-cde-functions i.fa.fa-link{color:#dc3545}

#gestion-page-gru-content.admin-gru-content #grid-ghostbar{width:10px; background-color:#979797; opacity:0.5; position:absolute;cursor: col-resize; z-index:999; border: 2px dashed #383838; border-left: 0; display:none;}
#gestion-page-gru-content.admin-gru-content #cursor-position-drag { width: 100%; height: 0; border-style: dashed; border-width: 3px 0 0 0; border-color: #69b133; position: absolute; z-index: 100; display:none;}
#gestion-page-gru-content.admin-gru-content #grid-visual {width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: white; z-index: 9;}
#gestion-page-gru-content.admin-gru-content #grid-visual > .col-lg-1 {height: 100%; float: left; position: relative;}
#gestion-page-gru-content.admin-gru-content #grid-visual > .col-lg-1 > .lib-col {margin-top: 10px; text-indent: 10px; position: absolute; z-index: 100; font-size:13px; font-style: italic; opacity: 0.8;}
#gestion-page-gru-content.admin-gru-content #grid-visual > .col-lg-1 > .content-background{height: 100%; border-left: 1px dashed black; border-right: 1px dashed black; background: #f6f6f6; opacity: 0.2;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru {min-height: 600px; padding-top: 40px; padding-bottom:15px; border: 1px solid #bbbbbb; z-index: 10;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru.highlight{background:#d2f3fd7a;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru .grid-element {padding: 15px; position: relative;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru .grid-element:not([name=row]):not([name=section]) > div.row {background: white;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru .grid-element[name=section] > div.row > div.col-lg-12 > div.grid-element-header:hover{cursor:n-resize;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru .grid-element[class*=row] {clear:both;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru .grid-element[class*=col-lg] {float:left;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru .grid-element > .row:first-child{width: 100%; margin:0; background: #047cc35c;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru .grid-element .sizeup {height: 100%; padding: 2px;  background: #5b5b5b; z-index: 0; position: absolute; right: 0; top: 0; z-index: 5;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru .grid-element .sizeup:hover{cursor:col-resize;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru .grid-element .sizeup i{color: white; position: relative; top:44%;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru .grid-element .row.grid-element-header{max-height: 26px; overflow: hidden; border: 1px solid #00a0d2; background: #00a0d2; color: white;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru .grid-element .row.grid-element-header .title-header{margin-left: 10px; font-size: 14px;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru .grid-element .row.grid-element-header i{margin-left:10px; color: #e4e4e4; opacity: 0.8; font-size: 13px;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru .grid-element .row.grid-element-header i:hover{color: white; opacity: 1; cursor: pointer;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru .grid-element .row.grid-element-content{min-height: 100px; border: 1px solid #00a0d2; }
#gestion-page-gru-content.admin-gru-content #grid-page-gru .grid-element .row.grid-element-content > .grid-element[name=row] {width: 100%; padding: 0; margin-left:0; margin-top: 10px;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru .grid-element .row.grid-element-content.highlight{background:#d2f3fd7a;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru .grid-element .row.grid-element-content.ui-droppable-hover{background: #ccff0040;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru .grid-element.section {padding:0; margin: 15px -15px; border-top: 1px solid black; clear:both;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru .grid-element.section > div.row > div.col-lg-12 > div.grid-element-content {padding:15px;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru .element-gru{ width: 100%; min-height: 265px; margin:10px; border: 1px solid #efefef; background: white; position: relative; background-size: 100% 100%; }
#gestion-page-gru-content.admin-gru-content #grid-page-gru .element-gru .element-gru-header{ background: #efefef; padding: 15px 5px; font-weight: bold;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru .element-gru .element-gru-header .actions i{margin-left: 10px;color: #00a0d2;opacity: 0.8;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru .element-gru .element-gru-header .actions i:hover{color: #6bccea; opacity: 1; cursor: pointer;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru .element-gru .element-gru-header .title,
#gestion-page-gru-content.admin-gru-content #grid-page-gru .element-gru .grid-element-gru-content {text-align: center;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru .element-gru .element-gru-header .title .gestion-page-gru-element-title{font-size:18px; font-weight: bold;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru .element-gru .grid-element-gru-content i.fa{color:#047cc3; font-size: 100px; }
#gestion-page-gru-content.admin-gru-content #grid-page-gru .element-gru .grid-element-gru-content p{padding: 15px; margin:0; font-size: 17px; text-transform: uppercase;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru .element-gru:not(.element-gru-text) {display: flex !important; align-items: center; position: relative;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru .element-gru:not(.element-gru-text) .element-gru-header {width: 100%; position: absolute; left: 0;top: 0;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru .element-gru:not(.element-gru-text) .grid-element-gru-content {width: 100%;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru .element-gru:not(.element-gru-text) .grid-element-gru-content i.fa{margin:auto;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru .element-gru:not(.element-gru-text) .grid-element-gru-content p {width:100%; position: absolute; bottom: 0; left: 0;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru .element-gru-text {background-position: bottom right; background-size: 100% 100%; background-repeat: no-repeat}
#gestion-page-gru-content.admin-gru-content #grid-page-gru .element-gru-text .element-gru-header {background: none;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru .element-gru-text .element-gru-header .title .gestion-page-gru-element-title{ margin-top:50px; font-size:18px; font-weight: bold;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru .element-gru-text .grid-element-gru-content p {font-size: 15px; text-transform: none; text-align: left;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru .cde-function-params i.fa-cogs {font-size: 30px !important; color: #00a0d2 !important; position: relative; top: 5px;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru .cde-function-params button {width: auto; min-width: 120px; height: auto !important;}

#gestion-page-gru-content.admin-gru-content #grid-page-gru .helper-clone-draggable{width: 200px !important;height: 40px  !important; min-height: 40px  !important; max-height: 40px  !important; overflow: hidden; border: 0; color: #5d6873; background: #5d6873; opacity: 0.8 !important;}
#gestion-page-gru-content.admin-gru-content #grid-page-gru .helper-clone-draggable .grid-element-header,
#gestion-page-gru-content.admin-gru-content #grid-page-gru .helper-clone-draggable .element-gru-header {color: #5d6873 !important; background: #5d6873 !important; border:0 !important; }
#gestion-page-gru-content.admin-gru-content #grid-page-gru .helper-clone-draggable i {display: none;}

/*******************************************************************************/
/*********************************** MENU BO ***********************************/
#gestion-page-gru-content.admin-gru-content #menu-order-container .loader {display: inline-block;}
#gestion-page-gru-content.admin-gru-content #menu-order-container .loader > div {height: 20% !important;}
#gestion-page-gru-content.admin-gru-content #menu-order-container .menu-order-content {min-height: 540px; padding: 15px; border:1px solid #efefef; background: white;}
#gestion-page-gru-content.admin-gru-content #menu-order-container .menu-order-content-icon .fa.fa-chevron-circle-right{font-size: 40px; ;margin-top: 230px;color: #00a0d2;}
#gestion-page-gru-content.admin-gru-content #menu-order-container #parent-menu-order {position: relative;}
#gestion-page-gru-content.admin-gru-content #menu-order-container #parent-menu-order .row.save-list-menu{width:100%; position: absolute; bottom:15px; }
#gestion-page-gru-content.admin-gru-content #menu-order-container #parent-menu-order-content .fa.fa-trash{float: right; margin-right:10px;}
#gestion-page-gru-content.admin-gru-content #menu-order-container #parent-menu-order-content .fa.fa-trash:hover{cursor: pointer; color: white; background: #00a0d2}
#gestion-page-gru-content.admin-gru-content #menu-order-container #parent-menu-order-content {height: 460px; overflow-y: scroll}
#gestion-page-gru-content.admin-gru-content #menu-order-container #parent-menu-order-content ul {margin-left: 25px;}
#gestion-page-gru-content.admin-gru-content #menu-order-container #parent-menu-order-content > ul {margin:0;}
#gestion-page-gru-content.admin-gru-content #menu-order-container #parent-menu-order-content > ul li {padding: 5px 0; margin: 0; }
#gestion-page-gru-content.admin-gru-content #menu-order-container #parent-menu-order-content > ul li i.fa {padding: 5px; margin-left:5px; background: white; color:#00a0d2 }
#gestion-page-gru-content.admin-gru-content #menu-order-container #parent-menu-order-content > ul li.libelle {background: white;}
#gestion-page-gru-content.admin-gru-content #menu-order-container #parent-menu-order-content > ul li.libelle i.fa{ margin-left: 5px; }
#gestion-page-gru-content.admin-gru-content #menu-order-container #parent-menu-order-content > ul li.libelle.open {background: #00a0d2; color: white; border: none !important;}
#gestion-page-gru-content.admin-gru-content #menu-order-container #parent-menu-order-content > ul li.libelle.open i.fa{background:#00a0d2; color: white;}
#gestion-page-gru-content.admin-gru-content #menu-order-container #parent-menu-order-content > ul li.libelle:hover {cursor:pointer; background: #00a0d2;  color: white;}
#gestion-page-gru-content.admin-gru-content #menu-order-container #parent-menu-order-content > ul li.libelle:hover i.fa{background: #00a0d2;  color: white;}
#gestion-page-gru-content.admin-gru-content #menu-order-container #parent-menu-order-content > ul li.sub-libelle {font-weight: bold; color: grey;}
#gestion-page-gru-content.admin-gru-content #menu-order-container #parent-menu-order-content > ul li.sub-libelle.selected {background: #b9eeff;}
#gestion-page-gru-content.admin-gru-content #menu-order-container #parent-menu-order-content > ul li.sub-libelle.selected i {background: #b9eeff;}
#gestion-page-gru-content.admin-gru-content #menu-order-container #parent-menu-order-content > ul li.add-element:hover,
#gestion-page-gru-content.admin-gru-content #menu-order-container #parent-menu-order-content > ul li.sub-libelle:hover {cursor: pointer; color: #00a0d2; }
#gestion-page-gru-content.admin-gru-content #menu-order-container #parent-menu-order-content > ul > li.menu-content {border: 1px solid #00a0d2;}
#gestion-page-gru-content.admin-gru-content #menu-order-container #parent-menu-order-content > ul > li.menu-content > ul > li.menu-content > ul > li.link:hover{cursor: pointer; color: #00a0d2; }
#gestion-page-gru-content.admin-gru-content #menu-order-container #parent-menu-order-content > ul > li.menu-content > ul > li.menu-content > ul > li.link.selected {background: #b9eeff;}
#gestion-page-gru-content.admin-gru-content #menu-order-container #parent-menu-order-content > ul > li.menu-content > ul > li.menu-content > ul > li.link.selected i {background: #b9eeff;}

#gestion-page-gru-content.admin-gru-content #menu-order-container #infos-menu-order-content .row {margin-bottom: 10px;}
#gestion-page-gru-content.admin-gru-content #menu-order-container #infos-menu-order-content #selectable-pages-for-menu {height: 238px; margin: 0; list-style: none; border: 1px solid #23282d; overflow-y: scroll;}
#gestion-page-gru-content.admin-gru-content #menu-order-container #infos-menu-order-content #selectable-pages-for-menu li {padding: 0.3em 1em; margin: 0; transition:all .2s ease;}
#gestion-page-gru-content.admin-gru-content #menu-order-container #infos-menu-order-content #selectable-pages-for-menu li:hover{background: #00a0d2; color: white; cursor: pointer;}
#gestion-page-gru-content.admin-gru-content #menu-order-container #infos-menu-order-content #selectable-pages-for-menu li i.fa{display:none;}
#gestion-page-gru-content.admin-gru-content #menu-order-container #infos-menu-order-content #selectable-pages-for-menu li.selected{background: #047cc3; color:white; text-indent:0.5em; transition:all .2s ease;}
#gestion-page-gru-content.admin-gru-content #menu-order-container #infos-menu-order-content #selectable-pages-for-menu li.selected i.fa {display:inline-block; margin-right: 1em;}

#gestion-page-gru-content .parent-menu-order .gestion-page-gru-block-gru i {font-size: 20px; color: #047cc3; position: absolute; left: 43%; bottom:10%;}

/*******************************************************************************/
/********************************** TUILE BO ***********************************/

#gestion-page-gru-content.admin-gru-content #tuile-container #tuile-list h3 {padding: 0.5em; margin-top:1em;}
#gestion-page-gru-content.admin-gru-content #tuile-container #tuile-list .tilte-type{padding: 10px 15px;text-transform: uppercase; font-size: 15px; font-style: italic; font-weight: bold; background: #00a0d2; color: white;}
#gestion-page-gru-content.admin-gru-content #tuile-container #tuile-list #add_block_gru_type_link {width:300px; min-height: 300px; padding: 0; margin: 10px; border: 1px solid #e1e1e1; background: white; text-align: center; float: left; font-size: 14px; opacity: 0.8; position: relative; display: flex; align-items: center; background-size: 100% 100%}
#gestion-page-gru-content.admin-gru-content #tuile-container #tuile-list #add_block_gru_type_text {width:32%; min-height: 240px; padding: 0; margin: 10px; border: 1px solid #e1e1e1; background: white; text-align: center; float: left; font-size: 14px; opacity: 0.8; position: relative; display: flex; align-items: center; background-size: 100% 100%}
#gestion-page-gru-content.admin-gru-content #tuile-container #tuile-list #add_block_gru_type_text span,
#gestion-page-gru-content.admin-gru-content #tuile-container #tuile-list #add_block_gru_type_link span {line-height: 130px;}
#gestion-page-gru-content.admin-gru-content #tuile-container #tuile-list #add_block_gru_type_text span i,
#gestion-page-gru-content.admin-gru-content #tuile-container #tuile-list #add_block_gru_type_link span i {font-size: 30px; color: #047cc3;}
#gestion-page-gru-content.admin-gru-content #tuile-container #tuile-list #add_block_gru_type_text span p,
#gestion-page-gru-content.admin-gru-content #tuile-container #tuile-list #add_block_gru_type_link span p {font-size: 20px;}
#gestion-page-gru-content.admin-gru-content #tuile-container #tuile-list #add_block_gru_type_text:hover,
#gestion-page-gru-content.admin-gru-content #tuile-container #tuile-list #add_block_gru_type_link:hover{background: #0073aa; color: white; cursor: pointer;}
#gestion-page-gru-content.admin-gru-content #tuile-container #tuile-list #add_block_gru_type_text:hover span i,
#gestion-page-gru-content.admin-gru-content #tuile-container #tuile-list #add_block_gru_type_link:hover span i {color: white;}
#gestion-page-gru-content.admin-gru-content #tuile-container #tuile-list .element-gru {margin: 10px; float: left;}
#gestion-page-gru-content.admin-gru-content #tuile-container #tuile-list .element-gru-text {width:32%}
#gestion-page-gru-content.admin-gru-content #infos-tuile-content {width: 100%}
#gestion-page-gru-content.admin-gru-content #infos-tuile-content #tuile-visuel {background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAMUlEQVQYV2NkwAGCgoL+M2KTA0msW7eOEUMSJgHShCKJLIEiiS4Bl8QmAZbEJQGSBACD3Rn9IjePXQAAAABJRU5ErkJggg==) repeat}
#gestion-page-gru-content.admin-gru-content #infos-tuile-content #tuile-visuel > .row {height: 100%; align-items: center; margin-left:1px; border: 1px solid black;}
#gestion-page-gru-content.admin-gru-content #infos-tuile-content #tuile-visuel > .row > div{margin: auto;}
#gestion-page-gru-content.admin-gru-content #tuile-container #tuile-list .element-gru,
#gestion-page-gru-content.admin-gru-content #infos-tuile-content #tuile-visuel .element-gru,
#gestion-page-gru-content.admin-gru-content #infos-tuile-content #tuile-visuel .element-gru-text {background: white; background-size: 100% 100%; }
#gestion-page-gru-content.admin-gru-content #tuile-container #tuile-list .element-gru-text,
#gestion-page-gru-content.admin-gru-content #infos-tuile-content #tuile-visuel .element-gru-text {min-height: 300px; padding: 15px; margin-left: 5px; background-size: 100% 100%; background-repeat: no-repeat;}
#gestion-page-gru-content.admin-gru-content #tuile-container #tuile-list .element-gru-text {min-height: 240px; max-height: 240px; overflow: hidden;}
#gestion-page-gru-content.admin-gru-content #tuile-container #tuile-list .element-gru:not(.element-gru-text),
#gestion-page-gru-content.admin-gru-content #infos-tuile-content #tuile-visuel .element-gru:not(.element-gru-text) {min-height: 300px; display: flex; align-items: center; position: relative; text-align: center;}
#gestion-page-gru-content.admin-gru-content #tuile-container #tuile-list .element-gru:not(.element-gru-text) {width:300px; min-height: 300px; }
#gestion-page-gru-content.admin-gru-content #tuile-container #tuile-list .element-gru:not(.element-gru-text) .element-gru-header,
#gestion-page-gru-content.admin-gru-content #infos-tuile-content #tuile-visuel .element-gru:not(.element-gru-text) .element-gru-header {width: 100%; min-height: 60px; line-height: 60px; position: absolute; left: 0; top: 0;}
#gestion-page-gru-content.admin-gru-content #tuile-container #tuile-list .element-gru:not(.element-gru-text) .grid-element-gru-content,
#gestion-page-gru-content.admin-gru-content #infos-tuile-content #tuile-visuel .element-gru:not(.element-gru-text) .grid-element-gru-content {width: 100%;}
#gestion-page-gru-content.admin-gru-content #tuile-container #tuile-list .element-gru:not(.element-gru-text) .grid-element-gru-content p,
#gestion-page-gru-content.admin-gru-content #infos-tuile-content #tuile-visuel .element-gru:not(.element-gru-text) .grid-element-gru-content p{width: 100%; padding: 15px 0; margin:0;  position: absolute; left: 0; bottom: 0; text-transform: uppercase;}
#gestion-page-gru-content.admin-gru-content #tuile-container #tuile-list .element-gru:not(.element-gru-text) .grid-element-gru-content .multi-content,
#gestion-page-gru-content.admin-gru-content #infos-tuile-content #tuile-visuel .element-gru:not(.element-gru-text) .grid-element-gru-content .multi-content {width: 100%; display: flex; align-items: center; justify-content: center}
#gestion-page-gru-content.admin-gru-content #tuile-container #tuile-list .element-gru:not(.element-gru-text) .grid-element-gru-content .multi-content .desc-dyn,
#gestion-page-gru-content.admin-gru-content #infos-tuile-content #tuile-visuel .element-gru:not(.element-gru-text) .grid-element-gru-content .multi-content .desc-dyn {padding-right: 2%; font-size: 70px; }
#gestion-page-gru-content.admin-gru-content #tuile-container #tuile-list .element-gru:not(.element-gru-text) .grid-element-gru-content .multi-content i.fa ,
#gestion-page-gru-content.admin-gru-content #infos-tuile-content #tuile-visuel .element-gru:not(.element-gru-text) .grid-element-gru-content .multi-content i.fa {padding-left: 2%;}
#gestion-page-gru-content.admin-gru-content #tuile-container #tuile-list .element-gru:not(.element-gru-text) .grid-element-gru-content .desc-plus ,
#gestion-page-gru-content.admin-gru-content #infos-tuile-content #tuile-visuel .element-gru:not(.element-gru-text) .grid-element-gru-content .desc-plus {width: 100%;font-weight: bold; font-size: 1.4em;}
#gestion-page-gru-content.admin-gru-content #tuile-container #tuile-list .element-gru:hover{border: 1px solid #2f374b; cursor: pointer;}


#gestion-page-gru-content.admin-gru-content #infos-tuile-content #infos-tuile-form .row {margin-bottom: 10px;}
#gestion-page-gru-content.admin-gru-content #infos-tuile-content #infos-tuile-form #remove_icon,
#gestion-page-gru-content.admin-gru-content #infos-tuile-content #infos-tuile-form #remove_image {color: #3498db; line-height: 180%; float: right;}
#gestion-page-gru-content.admin-gru-content #infos-tuile-content #infos-tuile-form #remove_icon:hover,
#gestion-page-gru-content.admin-gru-content #infos-tuile-content #infos-tuile-form #remove_image:hover{cursor: pointer}
#gestion-page-gru-content.admin-gru-content #infos-tuile-content #infos-tuile-form #tuile_description,
#gestion-page-gru-content.admin-gru-content #infos-tuile-content #infos-tuile-form #tuile_description_plus {width: 100%; resize: none;}
#gestion-page-gru-content.admin-gru-content #infos-tuile-content #infos-tuile-form #tuile-icon-content {text-align: center;}
#gestion-page-gru-content.admin-gru-content #infos-tuile-content #infos-tuile-form #tuile-icon-content .icon-select {margin-bottom : 5%;}
#gestion-page-gru-content.admin-gru-content #infos-tuile-content #infos-tuile-form #tuile-icon-content .icon-select i {;color : #047cc3;font-size : 50px;}
#gestion-page-gru-content.admin-gru-content #infos-tuile-content #infos-tuile-form #gestion-gru-ajax-msg-upload div.notice{margin: 0;}
#gestion-page-gru-content.admin-gru-content #infos-tuile-content #infos-tuile-form #tuile-image-content .image-select{text-align: center;}
#gestion-page-gru-content.admin-gru-content #infos-tuile-content #infos-tuile-form #tuile-image-content #tuile_image_selected{max-height: 200px;}
#gestion-page-gru-content.admin-gru-content #infos-tuile-content #infos-tuile-form #select-tuile-list-content #select-list-tuile {height: 250px; margin: 0; list-style: none; border: 1px solid #23282d; text-align: left; overflow-y: scroll;}
#gestion-page-gru-content.admin-gru-content #infos-tuile-content #infos-tuile-form #select-tuile-list-content #select-list-tuile li {padding: 0.3em 1em; margin: 0; transition:all .2s ease;}
#gestion-page-gru-content.admin-gru-content #infos-tuile-content #infos-tuile-form #select-tuile-list-content #select-list-tuile li:hover{background: #00a0d2; color: white; cursor: pointer;}
#gestion-page-gru-content.admin-gru-content #infos-tuile-content #infos-tuile-form #select-tuile-list-content #select-list-tuile li i.fa{color: #047cc3; padding: 5px 10px;}
#gestion-page-gru-content.admin-gru-content #infos-tuile-content #infos-tuile-form #select-tuile-list-content #select-list-tuile li:hover i.fa {color: white;}
#gestion-page-gru-content.admin-gru-content #infos-tuile-content #infos-tuile-form #select-tuile-list-content #select-list-tuile li.selected{background: #047cc3; color:white; text-indent:0.5em; transition:all .2s ease;}
#gestion-page-gru-content.admin-gru-content #infos-tuile-content #infos-tuile-form #select-tuile-list-content #select-list-tuile li.selected i.fa {color: white;}
.jconfirm-box-container .jconfirm-box {height: 600px; overflow-y: scroll !important;}
.jconfirm-box-container .jconfirm-box.jconfirm-type-orange {overflow: hidden !important;}
.jconfirm-box-container .jconfirm-box .jconfirm-content .select-icon .form-modif-tuile  {width: 100px; height: 100px; float : left; color : #047cc3; font-size : 50px; border : 1px solid #e1e1e1; background : white; display: flex; align-items: center; text-align: center} 
.jconfirm-box-container .jconfirm-box .jconfirm-content .select-icon .form-modif-tuile:hover{cursor: pointer; background: #047cc3; color: white; }
.jconfirm-box-container .jconfirm-box .jconfirm-content .select-icon .form-modif-tuile i {margin: auto;}

.jconfirm-box-container .jconfirm-box .jconfirm-content {overflow-x: hidden !important;}
.jconfirm-box-container .jconfirm-box .jconfirm-content .dynamic-params .row {margin-bottom: 10px;}
.jconfirm-box-container .jconfirm-box .jconfirm-content .dynamic-params input[type=checkbox] {width: 18px;  height: 18px !important; margin: 5px 0;}

.jconfirm-box-container .jconfirm-box .jconfirm-content #import-popup-content {padding: 20px;}
.jconfirm-box-container .jconfirm-box .jconfirm-content #import-popup-content .row {margin-bottom: 10px; line-height: 30px;}
.jconfirm-box-container .jconfirm-box .jconfirm-content #import-popup-content i.fa { margin-top: 2px; font-size: 30px;}
.jconfirm-box-container .jconfirm-box .jconfirm-content #import-popup-content i.fa.fa-toggle-on {color: #69b133; position: absolute}
.jconfirm-box-container .jconfirm-box .jconfirm-content #import-popup-content i.fa.fa-toggle-on.fa-rotate-180 {color: #dc3545;}
.jconfirm-box-container .jconfirm-box .jconfirm-content #import-popup-content i.fa.fa-toggle-on:hover {cursor: pointer;}
.jconfirm-box-container .jconfirm-box .jconfirm-content #import-popup-content i.fa-arrow-alt-circle-right { color: #3498db; }
.jconfirm-box-container .jconfirm-box .jconfirm-content #import-popup-content .page-title {margin-left: 40px;}


/*******************************************************************************/
/********************************** MENU FO ************************************/
nav.main_menu {width:100%; height: 88px; z-index: 1000; border-bottom: 1px solid grey;}
#gestion-page-gru-content.gru-content.nav-menu-gru {width: 100%; height: 100%; text-align: center; background: url('../images/front/logo_mairie-300x102.png') white no-repeat; background-size: 250px; position: relative;}
#gestion-page-gru-content.gru-content.nav-menu-gru .gestion-page-gru-ctg-menu {width: auto; height: 100%; font-size: 18px; text-transform: uppercase; text-align: center; display: inline-block;}
#gestion-page-gru-content.gru-content.nav-menu-gru .gestion-page-gru-ctg-menu a {width: 100%; height:100%; padding: 0 30px; line-height: 80px; border-bottom: 5px solid white; color: black; text-decoration: none; display: block;}
#gestion-page-gru-content.gru-content.nav-menu-gru .gestion-page-gru-ctg-menu a:hover{border-color: #047cc3; }
#gestion-page-gru-content.gru-content.nav-menu-gru .gestion-page-gru-ctg-menu a.selected {border-bottom: 5px solid #047cc3; color:  #047cc3;}
#gestion-page-gru-content.gru-content.nav-menu-gru .gestion-page-gru-ctg-menu .menu-content {width: 100%; height:88px; border-top: 2px solid #efefef; position: fixed; left:0; background: white; z-index: 100;
    -webkit-box-shadow: 0px 20px 20px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 20px 20px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 20px 20px -15px rgba(0,0,0,0.75);
}
#gestion-page-gru-content.gru-content.nav-menu-gru .gestion-page-gru-ctg-menu .menu-content ul {height: 100%; margin: 0;}
#gestion-page-gru-content.gru-content.nav-menu-gru .gestion-page-gru-ctg-menu .menu-content ul li {width: auto; height: 100%; display: inline-block}
#gestion-page-gru-content.gru-content.nav-menu-gru .gestion-page-gru-ctg-menu .menu-content ul li a {padding:0 30px; border: none; color: black !important;}
#gestion-page-gru-content.gru-content.nav-menu-gru .gestion-page-gru-ctg-menu .menu-content ul li a.selected {border-bottom: 5px solid #047cc3; }
#gestion-page-gru-content.gru-content.nav-menu-gru .gestion-page-gru-ctg-menu .menu-content ul li a:hover {border-bottom: 5px solid #047cc3;}
#gestion-page-gru-content.gru-content.nav-menu-gru .menu-right{height: 100%; padding: 0 20px; float: right;  display: flex;  align-items: center; text-align: center; text-transform: uppercase; position: absolute; right: 0; top: 0;}
#gestion-page-gru-content.gru-content.nav-menu-gru .menu-right span {margin-right: 20px;}
#gestion-page-gru-content.gru-content.nav-menu-gru .menu-right span a {color: black; text-decoration: none;}
#gestion-page-gru-content.gru-content.nav-menu-gru .menu-right span i.fas,
#gestion-page-gru-content.gru-content.nav-menu-gru .menu-right span i.fa {font-size: 1.5em; color: #047cc3}
/*******************************************************************************/
/********************************** GRID FO ************************************/

#gestion-page-gru-content.gru-content .form_group {padding-left: 20px;} 
#gestion-page-gru-content.gru-content .form_group.dotted_group{
    padding: 15px; border: 1px dotted #b7b7b7; background: #f5f5f5; border-radius: 15px;    
}

#gestion-page-gru-content.gru-content .form_group.dotted_group p {margin: 0;}
#gestion-page-gru-content.gru-content .form_group.dotted_group.liaison_individu p,
#gestion-page-gru-content.gru-content .form_group.dotted_group.liaison_individu select{float: left;}
#gestion-page-gru-content.gru-content .form_group.dotted_group.liaison_individu select{width: 100px; margin: -5px 10px;}
#gestion-page-gru-content.gru-content .section {padding: 20px 0;}
#gestion-page-gru-content.gru-content .section > h2 {padding-bottom: 20px; margin: 0; text-align: center;}
#gestion-page-gru-content.gru-content .section > .container > .row {margin-bottom: 20px;}
#gestion-page-gru-content.gru-content .gru-icon-button {color: #007bff; margin-right: 5px;}
#gestion-page-gru-content.gru-content .gru-icon-button:hover {color: #0056b3; cursor: pointer;}
#gestion-page-gru-content.gru-content .element-gru, #gestion-page-gru-content.gru-content .element-gru-text {     background-size: 100% 100%; min-height: 300px;display: flex;align-items: center;position: relative;text-align: center;}
#gestion-page-gru-content.gru-content .element-gru a, #gestion-page-gru-content.gru-content .element-gru-text a{color: inherit; text-decoration: none;}
#gestion-page-gru-content.gru-content .element-gru a:hover, #gestion-page-gru-content.gru-content .element-gru-text a:hover{color: #23282d; }
#gestion-page-gru-content.gru-content .element-gru .element-gru-header .title,
#gestion-page-gru-content.gru-content .element-gru .element-gru-header .title .gestion-page-gru-element-title, #gestion-page-gru-content.gru-content .element-gru-text .content-text .element-gru-header .title .gestion-page-gru-element-title{font-size:18px; font-weight: bold; text-align:center}
#gestion-page-gru-content.gru-content .element-gru .grid-element-gru-content i.fa{color:#047cc3; font-size: 100px; }
#gestion-page-gru-content.gru-content .element-gru-text .grid-element-gru-content p {position:absolute; bottom:0; margin:0; padding:15px;min-width: 100%;}
#gestion-page-gru-content.gru-content .element-gru:not(.element-gru-text) {display: flex !important; align-items: center; text-align: center;}
#gestion-page-gru-content.gru-content .element-gru:not(.element-gru-text) a {width: 100%;}
#gestion-page-gru-content.gru-content .element-gru:not(.element-gru-text) .element-gru-header {width: 100%; position: absolute; left: 0;top: 0; background: #047cc3; padding: 15px 5px; font-weight: bold; color: white;}
#gestion-page-gru-content.gru-content .element-gru:not(.element-gru-text) .grid-element-gru-content {width: 100%; }
#gestion-page-gru-content.gru-content .element-gru:not(.element-gru-text) .grid-element-gru-content i.fa{margin:auto;}
#gestion-page-gru-content.gru-content .element-gru:not(.element-gru-text) .grid-element-gru-content p, #gestion-page-gru-content.gru-content .element-gru-text .content-text .grid-element-gru-content p {width:100%; margin: 0; position: absolute; bottom: 0; padding: 15px 0;font-size: 15px; text-transform: uppercase;}
#gestion-page-gru-content.gru-content .element-gru:not(.element-gru-text) .grid-element-gru-content .desc-plus {width: 100%;font-weight: bold; font-size: 1.4em;}
#gestion-page-gru-content.gru-content .element-gru:not(.element-gru-text) .grid-element-gru-content .multi-content  {width: 100%; display: flex; align-items: center; justify-content: center}
#gestion-page-gru-content.gru-content .element-gru:not(.element-gru-text) .grid-element-gru-content .multi-content .desc-dyn {padding-right: 2%; font-size: 60px; }
#gestion-page-gru-content.gru-content .element-gru:not(.element-gru-text) .grid-element-gru-content .multi-content i.fa {margin: 0!important; padding-left: 2%;}
#gestion-page-gru-content.gru-content .element-gru:not(.element-gru-text):hover{cursor: pointer; 
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75) !important;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75) !important;
}

#gestion-page-gru-content.gru-content .element-gru .content-link-ctg { width: 100%;height: auto; padding: 20px 18% 0px 18%; text-align: center; position: fixed; left: 0; background: #047cc3;color: white; opacity: 0.9; z-index: 10000;}
#gestion-page-gru-content.gru-content .element-gru .content-link-ctg ul li {display: inline-block; margin: 30px;}
#gestion-page-gru-content.gru-content .element-gru .content-link-ctg ul li .circle-link {width: 200px; height: 200px; background: white;  position: relative;  border-radius: 100px; float:left; background-size: 100% 100%; overflow: hidden; display: flex; align-items: center;}
#gestion-page-gru-content.gru-content .element-gru .content-link-ctg ul li .circle-link .desc-link {width: 100%;  padding: 5%;margin-top: 70px; color: black; background: white; text-align: center;}
#gestion-page-gru-content.gru-content .element-gru .content-link-ctg ul li .circle-link i.fa { width: 100%; text-align: center;  position: absolute; top: 20%; color: #4d85d4; font-size: 4em;} 
#gestion-page-gru-content.gru-content .element-gru .content-link-ctg .title, 
#gestion-page-gru-content.gru-content .element-gru .content-link-ctg .close-content-link-ctg{padding: 15px 5px;  text-align: center; font-size:18px; font-weight: bold;}
#gestion-page-gru-content.gru-content .element-gru .content-link-ctg .close-content-link-ctg{width: 100%; position: absolute; bottom: 0; left: 0;}
#gestion-page-gru-content.gru-content .element-gru-text .element-gru-header {width: 100%;min-height: 60px;line-height: 60px;position: absolute;left: 0;top: 0;}
#gestion-page-gru-content.gru-content .element-gru-text .grid-element-gru-content{width: 100%;}
/*#gestion-page-gru-content.gru-content .element-gru-text {background-position: bottom right; background-size: 100% 100%; background-repeat: no-repeat}
#gestion-page-gru-content.gru-content .element-gru-text .content-text {padding: 20px;}*/
/*#gestion-page-gru-content.gru-content .element-gru-text .content-text .element-gru-header .title .gestion-page-gru-element-title{ margin-top:50px; font-size:18px; font-weight: bold;}*/
/*#gestion-page-gru-content.gru-content .element-gru-text .content-text .grid-element-gru-content p {padding: 15px 0; font-size: 15px;}*/

#gestion-page-gru-content.gru-content .content-link-notif .content-notif {padding: 25px; margin-bottom: 20px;}
#gestion-page-gru-content.gru-content .content-link-notif .add_document {color: #007bff;}
#gestion-page-gru-content.gru-content .content-link-notif .add_document:hover {color: #0056b3; text-decoration: underline; cursor: pointer;}

#gestion-page-gru-content.gru-content .preloader-wrap { width: 100%; position: relative;}
#gestion-page-gru-content.gru-content .preloader-wrap .percentage { z-index: 100; text-align:center; color: white; line-height: 21px; }
#gestion-page-gru-content.gru-content .preloader-wrap .progress-bar-gru {background: #5d5d5d;}
#gestion-page-gru-content.gru-content .preloader-wrap .progress-bar-gru,  
#gestion-page-gru-content.gru-content .preloader-wrap .percentage{width:100%; height: 20px; max-width: 500px; font-weight: bold; position: absolute; top:0; left:0; }
#gestion-page-gru-content.gru-content .preloader-wrap .progress-bar-gru:after, 
#gestion-page-gru-content.gru-content .preloader-wrap .percentage:after { content: ""; display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
#gestion-page-gru-content.gru-content .preloader-wrap .trackbar { width: 100%; height: 100%; color: #fff; text-align: center; overflow: hidden; position: relative; opacity: 0.99;}
#gestion-page-gru-content.gru-content .preloader-wrap .loadbar { width: 0%; height: 100%; background: repeating-linear-gradient(45deg,  #3dcd58,  #3dcd58 5px, #009537 5px, #009537 10px ); position: absolute; top: 0; left: 0; animation: flicker 5s infinite; overflow: hidden;}

#gestion-page-gru-content.gru-content .gru-link .gru-link-hover{width: 90%; height: 100%; position: absolute;  top: 0;background: rgba(10, 10, 10, 0.8); color: black; text-align: center; visibility: hidden; opacity: 0; transition: visibility 0.1s, opacity 0.1s linear;padding-top: 42px;}
#gestion-page-gru-content.gru-content .gru-link:hover .gru-link-hover {visibility: visible;  opacity: 1;}
#gestion-page-gru-content.gru-content .panel.panel-default#step_container,
#gestion-page-gru-content.gru-content .container_formulaire .head_form,
#gestion-page-gru-content.gru-content .iconbox_content,
#gestion-page-gru-content.gru-content form#creer_compte,
#gestion-page-gru-content.gru-content form#creer_entite,
#gestion-page-gru-content.gru-content form#creer_individu,
#gestion-page-gru-content.gru-content form#modifier_compte,
#gestion-page-gru-content.gru-content form#mot_de_passe_oublie,
#gestion-page-gru-content.gru-content form#modifier_mot_de_passe
{-webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75) !important;-moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75) !important; box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75) !important; margin-top : 2%; padding : 20px 20px 20px 20px; }
/*#gestion-page-gru-content.gru-content .gru-link .gru-link-hover p {width: 90%; display: inline-block; text-transform: uppercase; font-size: 25px; font-style: italic; font-weight: bold;}
*/

#gestion-page-gru-content.gru-content .gru-link .gru-link-hover p {color:#ccc;text-shadow:0 -1px 0 black;}
#gestion-page-gru-content.gru-content .gru-link .gru-link-hover p:focus, #gestion-page-gru-content.gru-content .gru-link .gru-link-hover p:hover  {color:#ccc;text-shadow:0 -1px 0 black;}
#gestion-page-gru-content.gru-content form div.champ_sup_hp{opacity: 0; position: absolute; top: 0; left: 0; height: 0; width: 0; z-index: -1;}